<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:inline="javascript" type="text/javascript">
    //<![CDATA[
    const isSignIn = [[${isSignIn}]];
    const updateType = [[${updateType}]];
    const engagementId = [[${engagementId}]];
    const path = [[${path}]];

    if (!isSignIn) {
        window.location.href = `/?redirect=${encodeURIComponent(path)}`
    } else {
        axios.put("/api/schedules/events/engagements/" + engagementId, {
            type: updateType
        }).then((res) => {
            console.log(res)
            alert(JSON.stringify(res.data))
        }).catch((e) => {
            alert(e.response.data.errorMessage)
            window.location.href = "/";
        })
    }
    //]]>
</script>
</body>
</html>